[submodule "software/nrf51-pure-gcc-setup"]
	path = software/nrf51-pure-gcc-setup
	url = https://github.com/lab11/nrf51-pure-gcc-setup.git
	branch = master
[submodule "software/nrf5x-base"]
	path = software/nrf5x-base
	url = https://github.com/lab11/nrf5x-base
